

body {
  text-align: center;
  background-image: url("./images/background.jpg");
  background-repeat: repeat;
  height: 100%;
  color: yellow;

}

a {
  color:yellow;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */
.Nav-header {
  list-style: none;
}

.App-header h1 {
  color: black;
  float: left;
  margin-left: 300px;
}
.App-header {
  height: 150px;
  /* padding: 20px; */
  list-style: none;
  background-color: grey;
}

.App-title {
  font-size: 1.5em;
}

